* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Geist', sans-serif;
}

:root {
    --background-dark-color: #141415;
    --background-light-color: #F3F4F6;
    --primary-color: #4B9CFF;
    --font-light-color: #e7e7e7;
    --font-info-color: #4d4e53;
    --border-light-color: #dadada;
}

/* Tarjeta */
.card {
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--border-light-color);
    border-radius: 8px;
    padding: 20px;
}

/* Input de formulario */
.base-input {
    width: 100%;
    min-width: 50px;
    background: none;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid var(--border-light-color);
    border-radius: 6px;
    outline: none;
}

/* Boton de formulario */
.base-button {
    display: inline-block;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
}

.base-button:disabled {
    background-color: #5a7e79;
    cursor: auto;
}

/* Label de formulario */
.base-label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.base-label-description {
    font-size: 14px;
    color: var(--font-info-color);
}

/* Titulo de página */
.base-page-title {
    font-size: 55px;
    margin-bottom: 30px;
}

/* Paginacion */
.base-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 20px;
}

.base-pagination>a {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid var(--border-light-color);
    border-radius: 5px;
}